<!DOCTYPE html>
<html lang="nl">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Greenhouse</title>
	<link rel="stylesheet" href="css/index.css">
</head>

<body>
	<main>
		<section class="home">
			<header>
				<h1>Waar komt mijn eten vandaan?</h1>
				<p>De groentekas produceert groenten en kruiden voor Café de Ceuvel door middel van een aquaponics systeem met vissen en planten.</p>
			</header>

			<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="svg-content"><path d="M512 512H0V256c0-68.38 26.629-132.667 74.98-181.02C123.333 26.629 187.62 0 256 0s132.667 26.629 181.02 74.98C485.371 123.333 512 187.62 512 256v256z" fill="#ffec97"/><path d="M512 256c0-68.38-26.629-132.667-74.98-181.02C388.667 26.629 324.38 0 256 0v512h256V256z" fill="#ffc473"/><path fill="#ffd400" d="M482 186H286.375L400.688 71.687l-21.213-21.213L271 158.948V15h-30v143.948L132.525 50.474l-21.212 21.213L225.625 186H30v30h225.625l.375.375.375-.375H482z"/><path fill="#006659" d="M131 323h30v113h-30z"/><path d="M181 368c-27.57 0-50-22.43-50-50s22.43-50 50-50h50v50c0 27.57-22.43 50-50 50z" fill="#00ad00" class="back-leaves"/><path d="M111 416c-27.57 0-50-22.43-50-50v-50h50c27.57 0 50 22.43 50 50s-22.43 50-50 50z" fill="#6bcd00" class="front-leaves"/><path fill="#ff9a00" d="M286.375 186L400.688 71.687l-21.213-21.213L271 158.948V15h-15v201.375l.375-.375H482v-30z"/><path d="M512 512H0V256c0-68.38 26.629-132.667 74.98-181.02C123.333 26.629 187.62 0 256 0s132.667 26.629 181.02 74.98C485.371 123.333 512 187.62 512 256v256zM30 482h452V256c0-60.367-23.508-117.12-66.194-159.806S316.367 30 256 30 138.88 53.508 96.194 96.194 30 195.633 30 256v226z" fill="#ffd400"/><path d="M512 256c0-68.38-26.629-132.667-74.98-181.02C388.667 26.629 324.38 0 256 0v30c60.367 0 117.12 23.508 159.806 66.194S482 195.633 482 256v226H256v30h256V256z" fill="#ff9a00"/><path fill="#006659" d="M351 323h30v113h-30z"/><path d="M401 368c-27.57 0-50-22.43-50-50s22.43-50 50-50h50v50c0 27.57-22.43 50-50 50z" fill="#00ad00" class="back-leaves"/><path d="M331 416c-27.57 0-50-22.43-50-50v-50h50c27.57 0 50 22.43 50 50s-22.43 50-50 50z" fill="#6bcd00" class="front-leaves"/><path d="M512 512H0v-90h512v90z" fill="#a17852"/><path d="M512 512H256v-90h256v90z" fill="#715539"/></svg>

			<footer>
				<button class="open-slider">Bekijk het systeem</button>
			</footer>
		</section>
		<div class="slider">
			<section class="slide fish-feed">
				<header>
					<h2>1. Vissen worden gevoerd.</h2>
					<p>De vissen in onze watertank worden gevoerd door wormen uit de compostbakken van de groentekas.</p>
				</header>
				<div class="svg-container">
					<div class="bubble-container">
					</div>
					<div class="fish-container">
					</div>
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 971.986 971.986" fill="#757575" class="filter"><path d="M370.216 459.3c10.2 11.1 15.8 25.6 15.8 40.6v442c0 26.601 32.1 40.101 51.1 21.4l123.3-141.3c16.5-19.8 25.6-29.601 25.6-49.2V500c0-15 5.7-29.5 15.8-40.601L955.615 75.5c26.5-28.8 6.101-75.5-33.1-75.5h-873c-39.2 0-59.7 46.6-33.1 75.5l353.801 383.8z"/></svg>
				</div>
			</section>
			<section class="slide fish-poop">
				<header>
					<h2>2. Vissen scheiden een stikstofrijke stof uit.</h2>
					<p>De ontlasting van de vissen wordt via bacteriën omgezet in voedingsstoffen voor de planten in de groentekas.</p>
				</header>
			</section>
			<section class="slide plant-nurient">
				<header>
					<h2>3. Planten breken de uitscheiding af in nutriënten. </h2>
					<p>In het water zit de stikstofrijke uitscheiding van de vissen, deze stof wordt door de planten afgebroken in nutriënten. Dit zijn goede voedingsstoffen voor de planten en deze zullen hier door sneller groeien.</p>
				</header>
				<div class="svg-container">
					<svg height="100" width="100" class="sun">
  						<circle cx="50" cy="50" r="40" fill="#F8E71C" />
					</svg>

					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="greenhouse"><path d="M512 512H0V256c0-68.38 26.629-132.667 74.98-181.02C123.333 26.629 187.62 0 256 0s132.667 26.629 181.02 74.98C485.371 123.333 512 187.62 512 256v256z" fill="#ffec97"/><path d="M512 256c0-68.38-26.629-132.667-74.98-181.02C388.667 26.629 324.38 0 256 0v512h256V256z" fill="#ffc473"/><path fill="#ffd400" d="M482 186H286.375L400.688 71.687l-21.213-21.213L271 158.948V15h-30v143.948L132.525 50.474l-21.212 21.213L225.625 186H30v30h225.625l.375.375.375-.375H482z"/><path fill="#006659" d="M131 323h30v113h-30z"/><path d="M181 368c-27.57 0-50-22.43-50-50s22.43-50 50-50h50v50c0 27.57-22.43 50-50 50z" fill="#00ad00" class="back-leaves"/><path d="M111 416c-27.57 0-50-22.43-50-50v-50h50c27.57 0 50 22.43 50 50s-22.43 50-50 50z" fill="#6bcd00" class="front-leaves"/><path fill="#ff9a00" d="M286.375 186L400.688 71.687l-21.213-21.213L271 158.948V15h-15v201.375l.375-.375H482v-30z"/><path d="M512 512H0V256c0-68.38 26.629-132.667 74.98-181.02C123.333 26.629 187.62 0 256 0s132.667 26.629 181.02 74.98C485.371 123.333 512 187.62 512 256v256zM30 482h452V256c0-60.367-23.508-117.12-66.194-159.806S316.367 30 256 30 138.88 53.508 96.194 96.194 30 195.633 30 256v226z" fill="#ffd400"/><path d="M512 256c0-68.38-26.629-132.667-74.98-181.02C388.667 26.629 324.38 0 256 0v30c60.367 0 117.12 23.508 159.806 66.194S482 195.633 482 256v226H256v30h256V256z" fill="#ff9a00"/><path fill="#006659" d="M351 323h30v113h-30z"/><path d="M401 368c-27.57 0-50-22.43-50-50s22.43-50 50-50h50v50c0 27.57-22.43 50-50 50z" fill="#00ad00" class="back-leaves"/><path d="M331 416c-27.57 0-50-22.43-50-50v-50h50c27.57 0 50 22.43 50 50s-22.43 50-50 50z" fill="#6bcd00" class="front-leaves"/><path d="M512 512H0v-90h512v90z" fill="#a17852"/><path d="M512 512H256v-90h256v90z" fill="#715539"/></svg>

					<div class="pipe-nurient">
						<div class="nurient-container">
						</div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="cloud"><path d="M429.382 412.512c45.629 0 82.618-36.99 82.618-82.619 0-39.196-27.305-71.994-63.925-80.468-.749-82.934-68.2-149.937-151.311-149.937-57.06 0-106.735 31.585-132.518 78.221-7.845-3.395-16.492-5.285-25.583-5.285-32.75 0-59.779 24.421-63.917 56.042C32.131 236.916 0 274.498 0 319.594c0 51.318 41.601 92.918 92.917 92.918h336.465z" fill="#fff"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="cloud cloud-2"><path d="M429.382 412.512c45.629 0 82.618-36.99 82.618-82.619 0-39.196-27.305-71.994-63.925-80.468-.749-82.934-68.2-149.937-151.311-149.937-57.06 0-106.735 31.585-132.518 78.221-7.845-3.395-16.492-5.285-25.583-5.285-32.75 0-59.779 24.421-63.917 56.042C32.131 236.916 0 274.498 0 319.594c0 51.318 41.601 92.918 92.917 92.918h336.465z" fill="#fff"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" class="cloud cloud-3"><path d="M429.382 412.512c45.629 0 82.618-36.99 82.618-82.619 0-39.196-27.305-71.994-63.925-80.468-.749-82.934-68.2-149.937-151.311-149.937-57.06 0-106.735 31.585-132.518 78.221-7.845-3.395-16.492-5.285-25.583-5.285-32.75 0-59.779 24.421-63.917 56.042C32.131 236.916 0 274.498 0 319.594c0 51.318 41.601 92.918 92.917 92.918h336.465z" fill="#fff"/></svg>
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 165 511.998 180.998" class="grass"><path d="M10.367 345.111h472.834c2.927 0 5.267-2.39 5.206-5.316-.432-20.84-.317-97.235 23.352-126.091.662-.807-.154-1.968-1.139-1.622-11.274 3.959-44.881 17.583-53.245 41.786-.333.964-1.709.915-1.973-.07l-13.043-48.617c-.248-.926-1.513-1.048-1.933-.186l-14.574 29.865c-.346.71-1.328.787-1.781.14l-27.796-39.706c-.523-.748-1.688-.503-1.866.392l-12.897 64.809c-.216 1.085-1.754 1.123-2.022.05l-23.274-92.874c-.259-1.033-1.72-1.051-2.005-.025l-19.578 70.479c-.26.936-1.55 1.032-1.946.145l-22.624-50.716c-.392-.878-1.665-.796-1.94.125l-18.144 60.68c-.303 1.015-1.754.975-2.001-.055l-10.692-44.558c-.234-.974-1.577-1.083-1.964-.159l-29.619 70.63c-.355.846-1.553.848-1.911.003l-39.636-93.613c-.459-1.085-2.085-.692-1.988.482 1.484 18.054 3.633 67.693-14.796 90.436-.514.634-1.517.48-1.794-.287l-19.482-53.925c-.342-.946-1.695-.9-1.972.067l-16.229 56.768c-.253.884-1.442 1.032-1.896.233-5.839-10.302-30.02-56.655-17.957-98.3 0 0-31.616 41.527-32.692 72.12-.04 1.127-1.604 1.373-2.002.318l-13.089-34.705c-.353-.937-1.698-.878-1.968.086l-15.933 56.826c-.307 1.095-1.904.971-2.028-.16-1.748-15.918-10.893-60.624-58.72-92.83-.812-.547-1.857.249-1.557 1.181 4.632 14.418 23.834 81.942 5.26 159.774-.783 3.274 1.688 6.42 5.054 6.42z" fill="#43a838"/><g fill="#338727"><path d="M488.402 339.8c.063 2.916-2.281 5.312-5.197 5.312H10.365c-3.364 0-5.832-3.145-5.051-6.416 2.104-8.811 3.718-17.497 4.926-25.985.042.01.083.01.125.01h472.84c2.916 0 4.921-.156 4.921-.156.001 7.245.08 17.611.276 27.235z"/><circle cx="96.578" cy="288.518" r="8.9"/><circle cx="121.458" cy="313.398" r="8.9"/><circle cx="418.478" cy="275.578" r="8.9"/></g></svg>

					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="4em" class="grass-background">
					  <rect width="100%" height="4em"/>
					</svg>

					<div class="fish-bowl">
						<div class="fish-bowl-container">
							<div class="topbar"></div>
						</div>
					</div>

					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.52 45.52" class="fish-bowl-fish"><path d="M45.028 13.98c.574-.619.322-1.683-.45-2.027-1.798-.8-1.061-3.459-2.564-3.318-1.724.161-2.99-1.104-2.828-2.828.161-1.724-1.104-2.99-2.828-2.828C34.634 3.14 36.314.46 33.53.151c0 0-1.945-.751-2.13 1.111l-.029 7.258H20.164C9.126 8.52.178 17.468.178 28.506V45.52h16.876c11.114 0 20.124-9.01 20.124-20.124V14.237l7.244.067c.256-.04.453-.16.606-.324z" fill="#698b9e"/><path d="M21.951 39.899h-2c0-7.72-6.28-14-14-14v-2c8.822 0 16 7.177 16 16z" fill="#5d7989"/><path d="M25.206 36.644h-2c0-7.72-6.28-14-14-14v-2c8.822 0 16 7.178 16 16z" fill="#5d7989"/><path d="M28.315 33.534h-2c0-7.72-6.28-14-14-14v-2c8.822 0 16 7.178 16 16z" fill="#5d7989"/><path d="M31.57 30.28h-2c0-7.72-6.28-14-14-14v-2c8.822 0 16 7.177 16 16z" fill="#5d7989"/><path d="M14.824 9.263c-.394-1.98-1.211-4.133-2.77-6.285 0 0-8.224 4.078-4.851 10.331 2.185-1.865 4.775-3.257 7.621-4.046zm21.995 19.868c-.605 3.221-1.979 6.164-3.922 8.647 2.863.326 7.064.045 11.238-2.98 0 0-2.8-5.647-7.316-5.667z" fill="#546a79"/><circle cx="5.951" cy="33.384" r="2" fill="#38454f"/></svg>

					<div class="pipe-water">
					</div>

					<div class="waterpipe-container">
					</div>

					<div class="drain">
						<div class="drain-water">
							<div class="stream"></div>
							<div class="stream-bubble"></div>
							<div class="stream-bubble stream-bubble-2"></div>
							<div class="stream-bubble stream-bubble-3"></div>
							<div class="stream-bubble stream-bubble-4"></div>
						</div>
					</div>

				</div>
			</section>
			<section class="slide plant-water">
				<header>
					<h2>4. Planten leveren schoon water terug aan de vissen.  </h2>
					<p>De planten nemen de stoffen op en filteren het water. Dit schone water komt weer terug bij de vissen. Zo ontstaat er een natuurlijke symbiose.</p>
				</header>
				<div class="svg-container">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 165 511.998 180.998" class="grass"><path d="M10.367 345.111h472.834c2.927 0 5.267-2.39 5.206-5.316-.432-20.84-.317-97.235 23.352-126.091.662-.807-.154-1.968-1.139-1.622-11.274 3.959-44.881 17.583-53.245 41.786-.333.964-1.709.915-1.973-.07l-13.043-48.617c-.248-.926-1.513-1.048-1.933-.186l-14.574 29.865c-.346.71-1.328.787-1.781.14l-27.796-39.706c-.523-.748-1.688-.503-1.866.392l-12.897 64.809c-.216 1.085-1.754 1.123-2.022.05l-23.274-92.874c-.259-1.033-1.72-1.051-2.005-.025l-19.578 70.479c-.26.936-1.55 1.032-1.946.145l-22.624-50.716c-.392-.878-1.665-.796-1.94.125l-18.144 60.68c-.303 1.015-1.754.975-2.001-.055l-10.692-44.558c-.234-.974-1.577-1.083-1.964-.159l-29.619 70.63c-.355.846-1.553.848-1.911.003l-39.636-93.613c-.459-1.085-2.085-.692-1.988.482 1.484 18.054 3.633 67.693-14.796 90.436-.514.634-1.517.48-1.794-.287l-19.482-53.925c-.342-.946-1.695-.9-1.972.067l-16.229 56.768c-.253.884-1.442 1.032-1.896.233-5.839-10.302-30.02-56.655-17.957-98.3 0 0-31.616 41.527-32.692 72.12-.04 1.127-1.604 1.373-2.002.318l-13.089-34.705c-.353-.937-1.698-.878-1.968.086l-15.933 56.826c-.307 1.095-1.904.971-2.028-.16-1.748-15.918-10.893-60.624-58.72-92.83-.812-.547-1.857.249-1.557 1.181 4.632 14.418 23.834 81.942 5.26 159.774-.783 3.274 1.688 6.42 5.054 6.42z" fill="#43a838"/><g fill="#338727"><path d="M488.402 339.8c.063 2.916-2.281 5.312-5.197 5.312H10.365c-3.364 0-5.832-3.145-5.051-6.416 2.104-8.811 3.718-17.497 4.926-25.985.042.01.083.01.125.01h472.84c2.916 0 4.921-.156 4.921-.156.001 7.245.08 17.611.276 27.235z"/><circle cx="96.578" cy="288.518" r="8.9"/><circle cx="121.458" cy="313.398" r="8.9"/><circle cx="418.478" cy="275.578" r="8.9"/></g></svg>
					<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="4em" class="grass-background">
					  <rect width="100%" height="4em"/>
					</svg>

				</div>
			</section>
<!-- <section class="slide plant-served">
	<header>
		<h2>5. Planten worden geoogst en geserveerd in het restaurant.  </h2>
		<p>Wanneer de planten groot genoeg zijn, worden ze geoogst en geserveerd in het restaurant.</p>
	</header>
	<div class="svg-container">
		<svg height="270" width="270" class="plate">
  						<circle cx="135" cy="135" r="135" fill="#C1C1C1" />
						<circle cx="135" cy="135" r="110" fill="#F4F4F4" />
					</svg>

		<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 511.999 511.999" class="letuce"><path d="M344.399 39.365c-52.087-15.576-101.483-1.522-132.882 12.367L177.245 70.47l.002.014c11.308 10.717 29.365 18.144 50.537 31.279 30.524 1.14 61.309 13.541 82.031 32.844 10.258 9.556 20.08 26.344 26.574 38.874 26.99-10.701 63.517-19.521 94.395-18.366 14.606.547 25.286-5.691 38.969-2.394 12.432-98.742-52.205-91.48-125.354-113.356z" fill="#70c449"/><path d="M35.469 137.389l-12.541 22.942c36.759 2.655 96.384 60.346 92.823 33.13 3.731 28.513 5.436 6.246 5.004 6.113 17.323-49.213 60.106-105.895 114.983-103.844-110.465-68.524-174.937 2.075-200.269 41.659z" fill="#6ab742"/><path d="M306.44 129.909c-2.33 0-4.646-.97-6.294-2.868-3.021-3.474-2.652-8.739.822-11.759 1.28-1.114 32.099-27.243 95.502-23.838 4.597.247 8.125 4.172 7.879 8.771-.248 4.597-4.164 8.099-8.771 7.878-56.735-3.03-83.41 19.544-83.673 19.772-1.577 1.372-3.525 2.044-5.465 2.044z" fill="#43a838"/><path d="M245.961 264.864c24.318-40.403 69.901-78.794 93.858-103.077-19.615-37.838-58.448-64.35-104.081-66.057-54.877-2.053-102.663 32.369-119.987 81.582 73.915 40.045 123.728 131.393 130.21 87.552z" fill="#b0e046"/><path d="M174.883 180.869c-1.854 0-3.719-.615-5.265-1.877-3.568-2.91-4.1-8.162-1.188-11.729 10.898-13.354 30.798-29.854 63.712-32.624 4.598-.388 8.621 3.02 9.007 7.608.386 4.588-3.021 8.619-7.609 9.005-21.748 1.829-39.309 10.763-52.192 26.552-1.65 2.018-4.047 3.065-6.465 3.065z" fill="#a0c638"/><path d="M236.083 476.444c36.943-52.91-6.881-70.428 3.043-114.075 13.893-61.098 23.897-76.977-4.858-111.051 0 0-56.717-81.905-217.79-91.41-2.693-.029-12.25.685-14.148 12.043-1.103 8.365-1.836 16.852-2.157 25.453-.139 3.707-.18 7.395-.171 11.072 3.082 36.033 11.848 86.577 35.528 133.516 42.193 73.985 118.237 126.555 207.873 135.881.854-.033 1.713-.036 2.56-.084-3.316-.39-6.612-.827-9.88-1.345z" fill="#4baa3d"/><path d="M329.911 117.223c-.76 0-1.531-.104-2.296-.323-4.426-1.266-6.988-5.88-5.722-10.306l9.912-34.668c1.264-4.427 5.882-6.991 10.306-5.723 4.427 1.266 6.99 5.88 5.724 10.307l-9.912 34.668c-1.047 3.658-4.386 6.045-8.012 6.045z" fill="#43a838"/><path d="M54.701 349.113c-24.605-48.776-33.713-101.296-36.917-138.737-.009-3.821.032-7.654.178-11.505.335-8.937 1.096-17.757 2.243-26.449 1.204-7.195 5.362-10.274 9.061-11.58-4.191-.358-8.445-.677-12.787-.934-2.693-.029-12.25.685-14.148 12.043-1.103 8.365-1.836 16.852-2.157 25.453-.139 3.707-.18 7.395-.171 11.072 3.082 36.033 11.848 86.577 35.528 133.516 29.369 51.501 75.147 92.619 130.489 116.003-46.619-25.206-85.208-63.097-111.319-108.882z" opacity=".15" fill="#231f20"/><path d="M501.756 171.976c-2.683-8.226-8.244-11.828-11.604-13.303-19.766-6.887-40.864-11.015-62.871-11.837-119.053-4.451-219.179 88.456-223.636 207.507-1.672 44.729 10.4 86.786 32.439 122.102 9.367 1.483 18.904 2.489 28.62 2.851 54.371 2.034 105.166-14.307 146.406-43.467l18.191-14.227c48.383-41.746 79.953-102.713 82.529-171.607 1.018-27.156-2.603-53.398-10.074-78.019z" fill="#43a838"/><path d="M221.433 357.096c4.318-113.958 96.229-204.256 209.351-210.097-1.166-.062-2.332-.12-3.503-.163-119.053-4.451-219.179 88.456-223.636 207.507-1.672 44.729 10.4 86.786 32.439 122.102 5.676.899 11.423 1.596 17.226 2.106-21.714-35.312-33.556-77.083-31.877-121.455z" opacity=".15" fill="#231f20"/><g fill="#368c2a"><path d="M203.657 379.388c-1.031 0-2.08-.192-3.095-.599-72.252-28.924-108.649-78.071-110.164-80.149-2.711-3.721-1.892-8.935 1.829-11.647 3.719-2.711 8.932-1.893 11.644 1.825.535.724 35.494 47.512 102.888 74.492 4.274 1.711 6.352 6.563 4.64 10.837-1.304 3.259-4.435 5.241-7.742 5.241z"/><path d="M168.641 362.37c-3.867 0-7.333-2.704-8.153-6.639L146.233 287.3c-.939-4.507 1.954-8.922 6.461-9.861 4.511-.935 8.922 1.954 9.861 6.462l14.256 68.431c.939 4.507-1.954 8.922-6.461 9.861-.573.12-1.146.177-1.709.177zm86.733 97.576c-2.97 0-5.844-1.591-7.349-4.389-2.181-4.055-.66-9.11 3.394-11.289 132.471-71.222 170.905-186.989 171.278-188.151 1.408-4.384 6.104-6.798 10.486-5.388 4.384 1.407 6.796 6.101 5.389 10.486-.406 1.265-10.258 31.437-37.329 71.015-24.88 36.376-69.7 87.89-141.928 126.722-1.256.673-2.609.994-3.941.994z"/><path d="M322.029 415.095c-2.533 0-5.034-1.151-6.669-3.337-1.414-1.885-34.456-46.932-24.077-111.774.727-4.546 5.006-7.646 9.55-6.913 4.546.727 7.641 5.003 6.913 9.549-9.225 57.63 20.669 98.755 20.971 99.164 2.738 3.691 1.975 8.912-1.711 11.657-1.496 1.115-3.245 1.654-4.977 1.654zm64.519-64.046c-3.97 0-7.488-2.846-8.199-6.893-.798-4.534 2.232-8.856 6.767-9.653l44.074-7.751c4.53-.795 8.856 2.232 9.653 6.767.797 4.534-2.233 8.856-6.767 9.654l-44.074 7.751c-.488.084-.973.125-1.454.125z"/></g></svg>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="4em" class="grass-background">
				  <rect width="100%" height="4em"/>
				</svg>
</section> -->
			<section class="slide tour">
				<header>
					<h2>Zelf het Aquaponics systeem in De Ceuvel bekijken? </h2>
					<p>Bekijken hoe dit in het echt werkt? Op de Ceuvel organiseren we privé tours voor geïnteresseerden. Er loopt altijd wel iemand rond op de Ceuvel die ons verhaal kan vertellen op een manier die voor jou interessant is.</p>
				</header>
				<a href="http://deceuvel.nl/nl/tours/">Boek nu een tour!</a>
			</section>
		</div>
		<div class="slider-controls">
			<button class="prev-button"><svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 284.935 284.936">
  			<path d="M222.701 135.9L89.652 2.857C87.748.955 85.557 0 83.084 0c-2.474 0-4.664.955-6.567 2.857L62.244 17.133c-1.906 1.903-2.855 4.089-2.855 6.567 0 2.478.949 4.664 2.855 6.567l112.204 112.204L62.244 254.677c-1.906 1.903-2.855 4.093-2.855 6.564 0 2.477.949 4.667 2.855 6.57l14.274 14.271c1.903 1.905 4.093 2.854 6.567 2.854 2.473 0 4.663-.951 6.567-2.854l133.042-133.044c1.902-1.902 2.854-4.093 2.854-6.567s-.945-4.664-2.847-6.571z" fill="#FFF"/></svg><span>Vorige stap</span></button>
			<button class="next-button"><span>Volgende stap</span> <svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 284.935 284.936">
  			<path d="M222.701 135.9L89.652 2.857C87.748.955 85.557 0 83.084 0c-2.474 0-4.664.955-6.567 2.857L62.244 17.133c-1.906 1.903-2.855 4.089-2.855 6.567 0 2.478.949 4.664 2.855 6.567l112.204 112.204L62.244 254.677c-1.906 1.903-2.855 4.093-2.855 6.564 0 2.477.949 4.667 2.855 6.57l14.274 14.271c1.903 1.905 4.093 2.854 6.567 2.854 2.473 0 4.663-.951 6.567-2.854l133.042-133.044c1.902-1.902 2.854-4.093 2.854-6.567s-.945-4.664-2.847-6.571z" fill="#FFF"/></svg>
			</button>
		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.4/TweenMax.min.js"></script>
	<script src="js/hammer.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="js/index.js"></script>
</body>

</html>
