/*
========================================================
GENERAL
========================================================
*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');
* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

p {
    line-height: 1.5;
}

h1 {
    margin: 0;
    font-weight: 800;
    font-size: 2.1em;
}

h2 {
    margin: 0;
    font-size: 1.4em;
}

button {
    background: none;
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
}

main header {
    padding: 1.5em;
}

main header p {
    margin-bottom: 0;
}

main>section {
    height: 100%;
    position: relative;
    /* overflow: hidden; */
}

.home button {
    display: block;
    bottom: 2em;
    max-width: 19em;
    width: 100%;
    height: 4em;
    background-color: #43A838;
    color: #fff;
    margin: 2em auto 2em auto;
    font-weight: 600;
}

.home svg {
    max-width: 12em;
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
}

.home footer {
    height: auto;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.slider {
    width: 300%;
    height: 100%;
    display: flex;
    transition: transform 0.4s, visibility 0.1s linear, opacity 0.1s linear;
    /* overflow: hidden; */
    position: fixed;
    top: 0;
    visibility: hidden;
    opacity: 0;
}

.slider--open {
    visibility: visible;
    opacity: 1;
}

.slider-controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    display: flex;
    height: 4em;
    padding: 0 1em;
    color: #fff;
    display: none;
}

.slider-controls--active {
    display: flex;
}

.slider-controls--green {
    background-color: #338727;
}

.next-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.next-button svg {
    width: 1em;
    height: 1em;
    margin-left: 0.3em;
}

.prev-button span {
    opacity: 0.6;
}

.slider>section {
    position: relative;
    height: 100%;
    width: 100%;
}

.fish-feed, .fish-poop {
    background-color: #4A90E2;
    color: #fff;
	overflow: visible;
}

.plant-nurient, .plant-water {
    background-color: #84DBFF;
    color: #000;
	overflow: hidden;
}

.plant-nurient footer, .plant-water footer {
    background-color: #338727;
}

.plant-served {
    background-color: #fff;
    color: #000;
}

.slider>section header {
    position: absolute;
    z-index: 1;
    width: 100%;
}

.slider>section footer {
    height: 4em;
    width: 100%;
    display: flex;
    padding: 0 1em
}

.next-button {
    margin-left: auto;
}

.bubble-container {
    width: 200%;
    height: 100%;
    position: relative;
    z-index: 1;
}

.bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #89B7ED;
    position: absolute;
    animation: spawnBubble 10s forwards;
    animation-timing-function: ease-out;
}

@keyframes spawnBubble {
    0% {
        top: 100%;
    }
    100% {
        opacity: 0;
        top: 0%;
    }
}

.svg-container {
    height: 100%;
    width: 100%;
    position: relative;
    top: 0;
}
/* .fish-feed .svg-container {
	width: 200%;
	overflow: hidden;
} */

.fish-container {
    width: 200%;
    height: 50%;
    position: absolute;
    top: 32%;
    left: 0;
    bottom: 0;
    right: 0;
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    z-index: 2;
}

.fish {
    position: absolute;
    margin: -15px 0 0 -30px;
    opacity: 0;
    transition: transform 10s;
    animation: spawn .5s forwards;
}

.worm {
    position: absolute;
    transition: transform 10s;
    opacity: 0;
    animation: spawnWorm 10s forwards;
    animation-timing-function: ease-out;
}

@keyframes spawnWorm {
    0% {
        opacity: 0;
        top: 0;
    }
    5% {
        opacity: 1
    }
    100% {
        opacity: 0;
        top: 250px;
    }
}

@keyframes spawn {
    100% {
        opacity: 1;
    }
}

.fish-bob {
    position: relative;
    margin-top: -20px;
    animation: bob 6s infinite;
}

.fish-direction {
    position: relative;
    transition: transform .5s;
}

.fish-flip .fish-direction {
    transform: scaleX(-1);
}

@keyframes bob {
    50% {
        transform: translateY(40px);
    }
}

@keyframes bob {
    50% {
        transform: translateY(40px);
    }
}

.fish-bubble {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: #89B7ED;
    opacity: 0.6;
    border-radius: 50%;
    margin: -15px 0 0 20px;
    transform-origin: center top;
    animation: fish-bubble 4s linear forwards;
}

@keyframes fish-bubble {
    100% {
        transform: translateY(-200px) rotate(-1080deg);
        opacity: 0;
    }
}

.poop {
    position: absolute;
    width: 10px;
    height: 6px;
    background-color: #E9CFB7;
    border-radius: 50%;
    margin: -15px 0 0 -40px;
    transform-origin: center top;
    animation: pooping 4s linear forwards;
}

@keyframes pooping {
    100% {
        transform: translateY(200px) rotate(-1080deg);
        opacity: 0;
    }
}

.grass {
    position: absolute;
    bottom: 1em;
    left: -10%;
    width: 120%;
}

.grass-background {
    fill: #338727;
    position: absolute;
    bottom: 0;
}

.sun {
	position: absolute;
    top: 40%;
    left: 5%;
}

.cloud {
	width: 7em;
	position: absolute;
	top: 42%;
	animation: cloud-move 24s linear infinite;
	z-index: 1;
}

@keyframes cloud-move {
    100% {
        transform: translateX(200vw);
    }
}
